# Node
node_modules/
dist/
.env
.env.local

# Prisma
prisma/migrations/

# Logs
logs
*.log
npm-debug.log*

# Sistema
.DS_Store
*.pem

# Frontend (Será buildado na Vercel/Amplify, não precisa subir node_modules dele)
frontend/node_modules/
frontend/dist/